#bg {
  /* background-image: url({{ imageUrl }}); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto -80px;
  margin-bottom: -30px;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: larger;
}

h2 {
  color: azure;
  /* margin: 30px auto; */
  /* text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    padding: 10px;
    margin: 0 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  li.active {
    background-color: #4CAF50;
    color: white;
  } */