<!-- <div [style.background-image]="'url(' + imageLink + ')'"> -->
<div id="bg">
    <p style="margin-top: -30px;">-----------</p>
    <h2>{{ genre | titlecase}} prompts</h2>
    <!-- <h4>List of prompts:</h4> -->
    <div class="container">
        <div *ngFor="let prompt of prompts; let i = index" [routerLink]="['/writer/', genreValue, i]">
            <div class="card w-75 mx-auto my-3">
                <div class="card-body" style="cursor:pointer;">
                    {{prompt}}
                </div>
            </div>
        </div>
    </div>
</div>