<!-- <div style="background-color: aquamarine;"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about.jpg" alt="About Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper, justo vel bibendum
                    suscipit, libero lacus feugiat orci, in sagittis lectus eros at nibh. Quisque lobortis, massa
                    euismod interdum varius, tortor leo ultrices magna, vel gravida nisl velit non turpis.</p>
                <p>Aliquam efficitur tincidunt sem, vel lacinia sapien sodales ac. Praesent vel felis non nisi convallis
                    rhoncus ac id magna. Pellentesque vel odio eget massa vehicula fermentum vel a eros. Aliquam sit
                    amet turpis vitae neque bibendum finibus.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
<!-- </div> -->