<!-- <div style="background-color: aquamarine;"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about.jpg" alt="About Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>Writer</h2>
                <p>This website is a platform for writers to create and share their stories based on a variety of prompts. Users can register an account and log in to access the writing page, where they can select a prompt and begin writing their story using a WYSIWYG editor. The website also features a library of prompts for inspiration, as well as the ability to create and save their own prompts. Users can also read and comment on other writers' stories and receive feedback on their own work. The website aims to provide a supportive community for writers to develop their skills and share their stories with a wider audience.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
<!-- </div> -->