/* quill-editor {
    margin: 3rem;
    display: block;
}

.ql-editor:focus {
    border: 1px solid #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
} */
/* quill-editor.component.css */
/* h1 {
    font-size: 2em;
    margin-bottom: 20px;
} */

.editor-container {
    /* height: 300px; */
    /* border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    padding: 10px; */
    /* background: #f5f5f5; */
    background-image: linear-gradient(
    /* 90deg,
    hsl(39deg 100% 94%) 0%,
    hsl(41deg 100% 91%) 11%,
    hsl(42deg 100% 89%) 22%,
    hsl(43deg 100% 86%) 33%,
    hsl(43deg 100% 84%) 44%,
    hsl(44deg 100% 81%) 56%,
    hsl(44deg 100% 78%) 67%,
    hsl(44deg 100% 76%) 78%,
    hsl(45deg 100% 73%) 89%,
    hsl(45deg 100% 70%) 100% */
    45deg,
    hsl(14deg 84% 55%) 0%,
    hsl(351deg 92% 57%) 10%,
    hsl(331deg 100% 47%) 20%,
    hsl(317deg 100% 43%) 30%,
    hsl(292deg 65% 46%) 40%,
    hsl(247deg 73% 59%) 50%,
    hsl(288deg 65% 48%) 60%,
    hsl(314deg 100% 42%) 70%,
    hsl(328deg 100% 47%) 80%,
    hsl(339deg 100% 50%) 90%,
    hsl(0deg 95% 59%) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}