.navbar {
    background-color: rgb(8, 8, 8)!important;
    /* background-color: rgba(255, 255, 255, 0)!important; */
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .navbar a {
    float: left;
    color: rgb(250, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #e85353;
    /* color: rgb(217, 169, 169); */
    color: #ffffff;
  }
  
  /* .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
   */