<!-- <ngb-carousel class="carousel" [showNavigationArrows]="true" [showNavigationIndicators]="true">
    <ng-template ngbSlide>
        <img src="assets/images/carousel1.jpg" width="100%" height="800px" alt="Slide 1">
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/images/carousel2.jpg" width="100%" height="800px" alt="Slide 2">
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/images/carousel3.jpg" width="100%" height="800px" alt="Slide 3">
    </ng-template>
</ngb-carousel> -->

<div class="hero">
    <h1>Start Writing Your Dreams</h1>
    <p>Choose a genre below and explore sample prompts to inspire your own stories.</p>
    <a routerLink="/list" class="btn btn-danger">See All Genres</a>
</div>
<div class="mid">
    <br>
    <h1 style="text-align: center; margin: 30px auto">
        Top Genres:
    </h1>
    <div class="d-flex flex-wrap justify-content-around">
        <div class="card mb-4 mx-3" *ngFor="let genre of genres">
            <a [ngStyle]="cardLink" [routerLink]="['/genre/', genre.value]">
                <img class="card-img-top" width="100%" height="250px" [src]="genre.imageUrl" alt="{{ genre.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ genre.name }}</h5>
                    <p class="card-text">{{ genre.description }}</p>
                </div>
            </a>
        </div>
    </div>
</div>